<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <%include widgets/header/index.html %>
    <link rel="stylesheet" href="<%= resource_url %>/css/highlight/xcode.css">
    <link rel="stylesheet" type="text/css" href="<%= resource_url %>/<%= template %>/css/stylesheet.css?v=4" media="screen" />
    <link href="<%= resource_url %>/css/fontawesome.css?v=4.0.3" rel="stylesheet">
    <title><%= title %></title>
    <script src="<%= resource_url %>/js/jquery.js"></script>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/<%= user %>/<%= repo %>">View on GitHub</a>

          <a href="http://<%= host %>"><h1 id="project_title"><%= title %></h1></a>
          <h2 id="project_tagline"><%= description || '' %></h2>

            <section id="navigator">
              <form id="searchform" action="/index/search" role="search">
                <div class="iconfont">
                  <input name="q" id="q" maxlength="20" reqmsg="keywords" value="<%= q %>">
                  <input type="submit" id="searchsubmit" value="search">
                  <a href="JavaScript: $('#searchform').get(0).submit()"><i class="fa fa-search"></i></a>
                  <a href="/index/rss"><i class="fa fa-rss-square"></i></a>
                </div>
              </form>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <% if(q){ %> 
          <div class="search-result-hint">
          <% if(!contents.length){ %>
              Sorry, I found nothing :(
          <% }else{ %>
              Search result for : <%= q %>
          <% } %>
          </div>
          <hr/>
        <% } %>
        <% for(var i=0; i<contents.length; i++) {%>
           <article>
             <%- contents[i] %>
           </article>
        <% } %> 
        <hr/>     
        <% if(comment){ %>
          <%include widgets/comment/index.html %>
        <% }else{ %> 
          <%include widgets/pagenav/index.html %>
        <% } %>
      </section>
      <%include widgets/gotop/index.html %>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <%include widgets/categories/index.html %>
        <%include widgets/friends/index.html %>
        <p class="copyright"><%= title %> maintained by <a href="https://github.com/<%= user %>"><%= user %></a></p>
        <p>Published with <a href="http://gitpress.org">Git Press</a>. Powered by <a href="https://github.com/welefen/thinkjs">thinkjs</a> &amp; <a href="http://developer.github.com/v3/">Github api </a>.</p> 
      </footer>
    </div>

  </body>
</html>
