@font-face {
	font-family:"FontAwesome";
	src:url('../font/fontawesome-webfont.eot');
	src:url('../font/fontawesome-webfont.eot?#iefix') format('eot'), 
		url('../font/fontawesome-webfont.woff') format('woff'), 
		url('../font/fontawesome-webfont.ttf') format('truetype'), 
		url('../font/fontawesome-webfont.svgz#ququ') format('svg'),
		url('../font/fontawesome-webfont.svg#ququ') format('svg');
	font-weight:400;
	font-style:normal;
}

* {
	margin:0;
	padding:0;
}

body {
	font-weight:300;
	font-size:14px;
	color:#666;
	background:#3D4349;
	font-family:"Open Sans", "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	height:100%;
}

h1 {
	font-size:2em;
}

h2 {
	font-size:1.5em;
}

h3 {
	font-size:1.3em;
}

a {
	text-decoration:none;
	outline-width:0;
	color:#4183c4;
}

.basic-alignment.left,
article .entry-content img.left,
article .entry-content video.left {
	float:left;
	margin-right:1.5em;
}

.basic-alignment.right,
article .entry-content img.right,
article .entry-content video.right {
	float:right;
	margin-left:1.5em;
}

.basic-alignment.center,
article .entry-content img.center,
article .entry-content video.center {
	display:block;
	margin:0 auto 1.5em;
}

.basic-alignment.left,
article .entry-content img.left,
article .entry-content video.left,
.basic-alignment.right,
article .entry-content img.right,
article .entry-content video.right {
	margin-bottom:.8em;
}

.alignleft {
	float:left;
}

.alignright {
	float:right;
}

.clearfix {
	zoom:1;
}

.clearfix:after {
	content:"";
	display:table;
	clear:both;
}

.inner {
	width:1000px;
	margin:0 auto;
}

.pullquote-right:before,
.pullquote-left:before {
	border:none;
	content:attr(data-pullquote);
	float:right;
	width:45%;
	position:relative;
	top:7px;
	font-size:1.4em;
	line-height:1.45em;
	margin:.5em 0 1em 1.5em;
	padding:0;
}

.pullquote-left:before {
	float:left;
	margin:.5em 1.5em 1em 0;
}

#header {
	line-height:30px;
	height:auto;
	border-bottom:none;
	padding:30px 0;
}

#header a {
color:#666;
	transition:color .3s;
}

#header h1 {
	font-weight:300;
	font-size:30px;
	float:none;
}

#main-nav {
	float:left;
	margin-left:30px;
}

#main-nav>ul>li {
	margin-left:50px;
	vertical-align:auto;
	zoom:1;
	display:inline;
}

#main-nav>ul>li>a {
	margin-top:-38px;
	padding:38px 0;
}

#main-nav>ul>li>a:after {
	content:"\f078";
	color:#ccc;
	font:12px "FontAwesome";
	padding-left:10px;
}

#main-nav>ul ul {
	position:absolute;
	top:60px;
	left:-15px;
	z-index:10;
	white-space:nowrap;
	background:#ddd;
	border:1px solid #ccc;
	list-style:none;
	display:none;
	box-shadow:0 4px 8px rgba(0,0,0,0.1);
	border-radius:0 0 5px 5px;
}

#main-nav>ul ul ul {
	border-radius:0 5px 5px 5px;
	top:0;
	left:100%;
}

#main-nav>ul ul li {
	border-top:1px solid #eee;
	border-bottom:1px solid #ccc;
}

#main-nav>ul ul li:first-of-type ul {
	border-radius:0 0 5px 5px;
}

#main-nav>ul ul li>a {
	display:block;
	padding:5px 15px;
}

#main-nav>ul ul li>a:after {
	content:"\f054";
	color:#999;
	font:12px "FontAwesome";
	padding-left:10px;
}

#main-nav select {
	display:none;
	margin-bottom:10px;
}

#mobile-nav {
	display:none;
	height:37px;
	position:relative;
}

#mobile-nav .button {
	cursor:pointer;
}

#mobile-nav .menu {
	position:relative;
	width:100%;
}

#mobile-nav .menu .button {
	background:#f2f2f2;
	border:1px solid #ddd;
	color:#999;
	position:relative;
	border-radius:5px;
	padding:0 60px 0 10px;
}

#mobile-nav .menu .button:hover {
	color:#999;
}

#mobile-nav .menu .button.on {
	color:#666;
	border-radius:5px 5px 5px 0;
}

#mobile-nav .menu .button.on:before {
	content:"\f077";
}

#mobile-nav .menu .button:before {
	content:"\f078";
	color:#ddd;
	font:16px "FontAwesome";
	line-height:30px;
	position:absolute;
	top:0;
	right:40px;
}

#mobile-nav .menu .container {
	background:#f2f2f2;
	border:1px solid #ddd;
	border-top:none;
	position:absolute;
	top:31px;
	z-index:1;
	border-radius:0 0 5px 5px;
}

#mobile-nav .menu .container ul {
	list-style:none;
}

#mobile-nav .menu .container a {
	padding:0 10px;
}

#mobile-nav .search {
	position:absolute;
	top:0;
	right:0;
}

#mobile-nav .search .button {
	background:#ddd;
	width:30px;
	height:30px;
	position:absolute;
	top:1px;
	right:-1px;
	border-radius:0 5px 5px 0;
}

#mobile-nav .search .button:before {
	content:"\f002";
	color:#f2f2f2;
	font:20px "FontAwesome";
	line-height:30px;
	position:absolute;
	top:0;
	left:7px;
}

#mobile-nav .search .button.on {
	background:#ccc;
}

#mobile-nav .search .button.on:before {
	content:"\f00d";
}

#mobile-nav .search .container {
	position:absolute;
	right:51px;
	z-index:1;
}

#mobile-nav .search input[type="text"] {
	background:#fff;
	border:1px solid #ddd;
	border-right:none;
	color:#999;
	font:13px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	height:30px;
	width:100%;
	border-radius:5px 0 0 5px;
	padding:0 10px;
}

#sub-nav .search {
	float:left;
	margin-top:1px;
	position:relative;
}

#sub-nav .search:before {
	content:"\f002";
	color:#ccc;
	font:18px "FontAwesome";
	line-height:30px;
	position:absolute;
	top:0;
	right:125px;
}

#sub-nav .search input[type="text"] {
	background:#f2f2f2;
	color:#999;
	border:1px solid #ddd;
	font:13px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	width:100px;
	transition:.3s;
	border-radius:15px;
	padding:6px 15px 6px 35px;
}

#sub-nav .search input[type="text"]:focus,#sub-nav .search input[type="text"]:active {
	background:#fff;
	border-top:1px solid #ccc;
	color:#666;
	outline:none;
}

#sub-nav .social {
	float:left;
	margin-right:15px;
}

#sub-nav .social a {
	border-radius:50%;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;
	zoom:1;
	*display:inline;
	text-indent:-9999px;
	margin-right:5px;
	margin-bottom:15px;
	opacity:.6;
	width:28px;
	height:28px;
	transition:0.3s;
}

#sub-nav .social a.twitter {
	background:url(../img/twitter.png) center no-repeat #55cff8;
	border:1px solid #55CFF8;
}

#sub-nav .social a.twitter:hover {
	border:1px solid #24c1f6;
}

#sub-nav .social a.github {
	background:url(../img/github.png) center no-repeat #afb6ca;
	border:1px solid #afb6ca;
}

#sub-nav .social a.github:hover {
	border:1px solid #909ab6;
}

#sub-nav .social a.rss {
	background:url(../img/rss.png?13) center no-repeat #ef7522;
	border:1px solid #EF7522;
}

#sub-nav .social a.rss:hover {
	border:1px solid #cf5d0f;
}

#pagenavi {
	height:20px;
	line-height:20px;
	position:relative;
	border-top:1px solid #fff;
	border-bottom:1px solid #ddd;
	padding:20px 0;
}

#pagenavi .prev,#pagenavi .next {
	position:absolute;
}

#pagenavi .prev {
	padding-left:30px;
	left:0;
}

#pagenavi .prev:before {
	content:"\f060";
	font:1.3em "FontAwesome";
	position:absolute;
	left:0;
}

#pagenavi .next {
	padding-right:30px;
	right:0;
}

#pagenavi .next:before {
	content:"\f061";
	font:1.3em "FontAwesome";
	position:absolute;
	right:0;
}

#pagenavi .center {
	text-align:center;
	width:100%;
	display:block;
}

article {
	border-bottom:1px solid #ddd;
	border-top:1px solid #fff;
	position:relative;
	padding:30px 0;
}

article h1.title {
	font-weight:300;
	line-height:35px;
	margin-bottom:20px;
}

article .entry-content {
	line-height:1.8;
}

article .entry-content .more-link {
	display:block;
	margin-top:16px;
	padding-left:30px;
	position:relative;
}

article .entry-content .more-link:before {
	content:"\f061";
	font:1.3em "FontAwesome";
	line-height:1.6em;
	position:absolute;
	left:0;
}

article .entry-content strong {
	font-weight:700;
}

article .entry-content em {
	font-style:italic;
}

article .entry-content h2 {
	font-weight:300;
	border-bottom:1px solid #ddd;
	position:relative;
}

article .entry-content h2:before {
	content:"";
	position:absolute;
	bottom:-2px;
	border-bottom:1px solid #fff;
	width:100%;
}

article .entry-content blockquote {
	background:#ddd;
	margin-top:10px;
	padding:15px 20px;
	border-left:5px solid #4183c4;
	background:#FCFCFC;
}

article .entry-content pre {
	font-family: "Consolas", "Courier New", Courier, mono, serif;
	font-size: 14px;
	line-height: 1.8;
	margin-bottom: 1.5em;
	overflow: auto;
	max-width: 100%;
	border: solid 1px #ccc;
}

article .entry-content img { 
	padding: 0;
	background:url(../img/loading.gif) no-repeat center center;
	box-shadow:8px 8px 15px #999;
	border:none;
}

article .entry-content iframe {
	border:none;
}

article table {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

article table th,
article table td {
	border: 0;
}

article table th { 
	border-bottom: 2px solid #848484; 
	text-align: left; 
	padding: 5px 15px;
}

article table td {
	border-bottom: 1px solid #d0d0d0; 
	padding: 5px 15px;
}

article .entry-content .caption {
	display:block;
	font-size:.9em;
	color:#999;
	padding-left:25px;
	position:relative;
}

article .entry-content .caption:before {
	content:"\f040";
	color:#ccc;
	font:1.3em "FontAwesome";
	line-height:1.6em;
	position:absolute;
	left:0;
}

article .entry-content .video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

article .entry-content .video-container iframe,
article .entry-content .video-container object,
article .entry-content .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin-top:0;
}

.share {
	border-top:1px solid #fff;
	border-bottom:1px solid #ddd;
	padding:15px 0;
}

.post h1.title,.post .entry-content {
	margin-left:200px;
}

.post .entry-content {
	font-size: 16px;
}

.post .meta {
	position:absolute;
	top:85px;
	line-height:2;
	font-size:.9em;
	color:#999;
	width:170px;
}

.post .meta .date,
.post .meta .tags,
.post .meta .comments {
	padding-left:30px;
	position:relative;
}

.post .meta .date:before,
.post .meta .tags:before,
.post .meta .comments:before {
	color:#ccc;
	font:1.3em "FontAwesome";
	line-height:1.6em;
	position:absolute;
	left:0;
}

.post .meta .comments:before {
	content:"\f075";
}

.post hr {
	height:0;
	margin-top:20px;
	margin-bottom:20px;
	border-left:0;
	border-right:0;
	border-top:1px solid #DDD;
	border-bottom:1px solid #FFF;
}

.archives:last-of-type:before {
	content:"";
	position:absolute;
	bottom:0;
	width:200px;
	border-top:1px solid #ddd;
}

.archives .year {
	line-height:35px;
	width:200px;
	position:absolute;
	top:0;
	padding-top:15px;
	border-top:1px solid #fff;
}

.archives .year:before {
	content:"";
	position:absolute;
	top:-2px;
	width:100%;
	border-top:1px solid #ddd;
}

.archives article {
	margin-left:200px;
	padding:15px 0;
}

.archives article .title {
	margin-bottom:0;
}

.archives article .meta {
	color:#999;
	font-size:.9em;
	line-height:1.5em;
	margin-top:0;
}

.archives article .meta span {
	margin-right:30px;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;
	zoom:1;
	*display:inline;
}

.archives article .meta span:before {
	color:#ccc;
	font:1.3em "FontAwesome";
	padding-right:10px;
}

.archives article .meta .comments:before {
	content:"\f075";
	padding-right:10px;
}

#comment {
	border-top:1px solid #fff;
	border-bottom:1px solid #ddd;
	padding:30px 0;
}

#comment h1.title {
	font-size:25px;
	font-weight:300;
	line-height:35px;
	margin-bottom:20px;
}

footer {
	border-top:1px solid #fff;
	text-align:center;
	font-size:.9em;
	padding:15px 0;
}

html {
	height:100%;
}

::selection,::-moz-selection,::-webkit-selection {
	background-color:#4183c4;
	color:#eee;
}

#header .subtitle {
	color:#999;
}

#header #sub-nav {
	float:none;
	position:relative;
}

#header #main-nav {
	float:none;
	margin-left:0;
}

#header #main-nav ul li {
	margin-left:0;
	display:block;
}

#header #main-nav ul li a {
	padding:0;
}

.container {
	position:relative;
	min-height:100%;
}

.container .credit-box {
	color:#AAA;
	font-size:.8em;
	position:fixed;
	bottom:20px;
	left:40px;
}

.container .credit-box a {
	color:inherit;
	text-decoration:underline;
}

.container .mid-col {
	position:absolute;
	right:0;
	min-height:100%;
	width:77%;
	background:#F5F5F5;
}

.container .mid-col #banner small {
	margin-right:70px;
}

.container .mid-col footer.inner {
	line-height:1.8;
	text-align:center;
	width:auto;
	margin:0 70px 0 40px;
}

.container .mid-col .mid-col-container {
	padding:0 70px 0 40px;
}

.container .mid-col article .entry-content h2 {
	font-size:1.3em;
	color:#574C4C;
	border-bottom:none;
}

.container .mid-col article .entry-content table {
	line-height:1.2em;
}

.container .mid-col article .meta {
	position:relative;
	float:right;
	top:0;
	color:#555;
	text-align:right;
	width:auto;
}

.container .mid-col article .meta .date::before {
	color:#555;
	position:relative;
	margin-right:10px;
}

.container .mid-col article .meta .tags::before {
	color:#999;
	position:relative;
	margin-right:10px;
}

.container .mid-col article h1.title a {
	color:#333;
	transition:color .3s;
}

.container .mid-col article h1.title a:hover {
	color:#4183c4;
	transition:color .3s;
}

.container .mid-col article li span,
.container .mid-col article li span {
	margin-left:8px;
}

.container .left-col {
	width:23%;
	position:fixed;
	opacity:.8;
	height:100%;
}

.container .left-col .intrude-less {
	width:80%;
}

.container .left-col #header {
	width:100%;
	padding:20% 0 0 15%;
}

.container .left-col #header .profilepic img {
	border-radius:50%;
}

.container .left-col #header a {
	color:#EFEFEF;
	text-shadow:0 1px #333;
}

.container .left-col #header #sub-nav .search::before {
	left:10px;
}

.container .left-col #header #sub-nav .social {
	margin-bottom:10px;
}

.archives .title {
	font-size:1.2em;
}

.archives article .meta span::before {
	padding-right:0;
}

#header a:hover,
#main-nav > ul > li:hover > a,
.entry-content .gist .gist-file .gist-meta a,
#banner:hover a {
	color:#258fb8;
}

#main-nav > ul > li > a:only-child:after,
#main-nav >ul ul li > a:only-child:after {
	content:"";
}

#main-nav > ul ul li:hover {
	background:#d5d5d5;
}

#main-nav > ul ul li:first-of-type,
.container .mid-col .mid-col-container #content article {
	border-top:none;
}

#main-nav > ul ul li:last-of-type,
.container .mid-col .mid-col-container #content article .entry-content h2::before {
	border-bottom:none;
}

#main-nav > ul ul li > a:hover,
article h1.title a,
.post .meta a:hover,
.archives article .meta a:hover {
	color:#666;
}

#main-nav > ul li,
.archives,
#banner .container .feed li {
	position:relative;
}

#main-nav > ul li:hover > ul,
#mobile-nav a {
	display:block;
}

#mobile-nav .container,
figure.code figcaption span:empty {
	display:none;
}

#mobile-nav .menu .container ul ul,
article .entry-content ul,
article .entry-content ol,
article .entry-content dl {
	margin-left:20px;
}

#sub-nav .social a:hover{
	opacity:1;
}

#pagenavi a:hover,article .entry-content a:hover,#banner a:hover {
	text-decoration:underline;
}

article .entry-content p,
article .entry-content blockquote,
article .entry-content ul,
article .entry-content ol,
article .entry-content dl,
article .entry-content table,
article .entry-content iframe,
article .entry-content h1,
article .entry-content h2,
article .entry-content h3,
article .entry-content h4,
article .entry-content h5,
article .entry-content h6,
article .entry-content .video-container,
article .entry-content p,
article .entry-content pre,
.fancybox-title-inside-wrap,
.container .left-col #header #main-nav,
.container .left-col #header #sub-nav {
	margin-top:15px;
}

article .entry-content ul ul,
article .entry-content ul ol,
article .entry-content ul dl,
article .entry-content ol ul,
article .entry-content ol ol,
article .entry-content ol dl,
article .entry-content dl ul,
article .entry-content dl ol,
article .entry-content dl dl,
article .entry-content blockquote > p:first-of-type {
	margin-top:0;
}

.post .meta a,
.archives article .meta a,
#banner a {
	color:#999;
	transition:.3s;
}

.post .meta .date:before,
.archives article .meta .date:before {
	content:"\f073";
}

.post .meta .tags:before,
.archives article .meta .tags:before {
	content:"\f02c";
}


#header #sub-nav .social,
#header #sub-nav .search,
#header #sub-nav .search .alignright {
	float:none;
}

.container .mid-col #banner,
.container .mid-col .mid-col-container #content,.container .mid-col footer {
	width:100%;
}

.container .mid-col .mid-col-container #content article .title,
.container .mid-col .mid-col-container #content article .entry-content {
	margin-left:0;
}

.container .left-col #header a:hover,
a:hover {
	color:#4183c4;
}

.breakall {
	word-break:break-all;
	word-wrap:break-word;
}

/* gitpress start */
div.readmore {
	display:none;
}

/* gitpress end */

@media screen and (max-width:600px) {
	body {
		font-size:13px;
	}

	article {
		padding:15px 0;
	}

	.archives .year {
		position:relative;
		width:100%;
	}

	.archives article {
		margin-left:0;
	}

	.archives article:first-of-type {
		border-top:none;
		padding-top:30px;
	}

	#main-nav>ul,#sub-nav,.archives article .meta {
		display:none;
	}

	#main-nav select,#mobile-nav {
		display:block;
	}
}

@media screen and (max-width:800px) {
	article {
		padding-bottom:15px;
	}


	article .entry-content img,
	article .entry-content video {
		max-width:100%;
		height:auto;
	}

	.post h1.title,
	.post .entry-content {
		margin-left:0;
	}

	.post .meta {
		margin-top:15px;
		position:static;
		width:auto;
	}

	.post .meta .date,
	.post .meta .tags,
	.post .meta .comments {
		vertical-align:auto;
		zoom:1;
		display:inline;
		margin-right:30px;
	}
}

@media screen and (max-width:700px) {
	.container .credit-box {
		display:none;
	}

	.container .left-col {
		position:relative;
		width:100%;
		opacity:1;
	}

	.container .left-col .intrude-less {
		margin:auto;
	}

	.container .left-col #header {
		text-align:center;
		padding:40px 0;
	}

	.container .left-col #header #main-nav ul li {
		display:inline;
		margin-right:10px;
	}

	.container .mid-col {
		float:none;
		width:100%;
	}

	.container .mid-col .mid-col-container {
		padding:15px;
	}

	.container .mid-col .mid-col-container #content article .meta {
		float:none;
		overflow:hidden;
	}

	.post .meta .tags, .post .meta .comments {
		padding-left:0;
		margin-right:5px;
	}

	.post .meta .date {
		padding-left:0;
	}

	.container .left-col #header #sub-nav,
	.container .left-col #header #main-nav ul {
		display:block;
	}
}

@media screen and (max-width:400px) {
	#pagenavi .center {
		display:none;
	}
}