<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <%include widgets/header/index.html %>
  <link rel="stylesheet" href="<%= resource_url %>/<%= template %>/css/stylesheet.css?v=6" media="screen" type="text/css">
  <!--[if lt IE 9]><script src="<%= resource_url %>/js/html5.js"></script><![endif]-->
  <script src="<%= resource_url %>/js/jquery.js"></script>
  
</head>

<body>
  <header id="header" class="inner"><nav>
  <ul>
    
      <li><a href="/"><%= title %></a></li>
    
  </ul>
</nav></header>
  <div id="content" class="inner">

<header id="archive-header">
  <h1 class="alignleft"><a href="https://github.com/<%= user %>/<%= repo %>"><small>View on GitHub</small></a></h1>
  <div class="search alignright">
    <form action="/index/search" method="get" accept-charset="utf-8">
      <input type="search" name="q" results="0" placeholder="Search">
    </form>
  </div>
</header>

       <% if(q){ %> 
          <div class="search-result-hint">
          <% if(!contents.length){ %>
              Sorry, I found nothing :(
          <% }else{ %>
              Search result for : <%= q %>
          <% } %>
          </div>
          <hr/>
        <% } %>
        <% for(var i=0; i<contents.length; i++) {%>
           <article class="post">
            <header>
              
              <a href="~<%= files[i] %>"><%= files[i] %></a>
              <div class="no">
                <span><%= (page-1)*perpage+(i+1)<10?'0'+((page-1)*perpage+(i+1)): (page-1)*perpage+(i+1) %></span>
              </div>

            </header>

            <div class="entry-content">
              <%- contents[i] %>
              <footer class="meta">
                
                
                
              </footer>
              
            </div>             
           </article>
        <% } %> 
    
        <% if(comment){ %>
          <style type = "text/css">
            #ds-reset, #disqus_thread {
              color: #ccc!important;
            }
            #ds-thread #ds-reset li.ds-tab a {
              text-shadow: none!important;
            }
            #ds-thread #ds-reset .ds-comment-body a:hover,
            #ds-thread #ds-reset li.ds-tab a:hover,
            #ds-thread #ds-reset .ds-sort a:hover,
            #ds-thread #ds-reset a:hover {
              color: #eee!important;
            }
            .ds-post-repost {
              display: none;
            }
          </style>
          <%include widgets/comment/index.html %>
        <% }else{ %> 
          <nav id="pagenavi">
              <% if(page > 1) { %>
                <a href="<%= queryURL({pn:page-1}) %>" class="alignleft prev">Prev</a>
              <% } %>
              <% if(hasNext) { %>
                <a href="<%= queryURL({pn:page-0+1}) %>" class="alignright next">Next</a>
              <% } %>
              <div class="clearfix"></div>
          </nav>       
        <% } %>
  
</div>
  <footer id="footer" class="inner"><div class="social alignright">
  <a class="rss" href="/index/rss" title="RSS">RSS</a>
</div>
<p class="repo-owner"><%= title %> is maintained by <a href="https://github.com/<%= user %>"><%= user %></a>.
  This page was generated by <a href="http://gitpress.org">Git Press</a> using the phase theme by <a href="https://github.com/tommy351">SkyArrow</a>.
  Powered by <a href="https://github.com/welefen/thinkjs">thinkjs</a> &amp; <a href="http://developer.github.com/v3/">Github api </a>.
</p>
<div class="clearfix"></div></footer>
  <script src="<%= resource_url %>/<%= template %>/js/jquery.imagesloaded.min.js"></script>
<script src="<%= resource_url %>/<%= template %>/js/gallery.js"></script>


<div id="phasebeam">
  <canvas></canvas>
  <canvas></canvas>
  <canvas></canvas>
</div>
<script src="<%= resource_url %>/<%= template %>/js/phasebeam.js"></script>
</body>
</html>