<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%include widgets/header/index.html %>
  <link rel="stylesheet" href="<%= resource_url %>/css/highlight/solarized.css">
  <link rel="stylesheet" href="<%= resource_url %>/<%= template %>/css/stylesheet.css?v=8" media="screen" type="text/css">
  <script src="<%= resource_url %>/<%= template %>/js/modernizr.js"></script>
  <link href="<%= resource_url %>/css/fontawesome.css?v=4.0.3" rel="stylesheet">
  <script src="<%= resource_url %>/js/jquery.js"></script>
</head>


<body>
  <div id="container" class="container">
    <header id="sidebar" role="banner" class="sidebar"><div id="branding" class="branding">
  <a href="/">
    <img class="circle" src="<%= avatar %>&size=140" alt="<%= user %>">
  </a>
  <h1 id="site-title" class="title">
    <a href="/index/rss"><%= title %>
    <i class="fa fa-rss-square"></i></a>
  </h1>
</div>
<a href="#" id="toggle">Info</a>
<div class="about" style="display: none">
  <p><%= description %></p>
</div>
<nav class="menu-navigation-container">
  <ul>
    
      <li><a href="https://github.com/<%= user %>/<%= repo %>">View on GitHub</a></li>
    
  </ul>
</nav>
<div class="widget">
  
  <nav class="search">
  <form action="/index/search" method="get" accept-charset="utf-8">
    <input type="search" name="q" results="0" placeholder="Search" value="<%= q %>">
  </form>
</nav>

<nav class="menu-navigation-container">
  <%include widgets/categories/index.html %>
</nav>

<nav class="other">
  <%include widgets/friends/index.html %>
</nav>

<style type="text/css">
a.widget#gotop { 
  float:left!important;
  left:16px!important;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
</style>
<%include widgets/gotop/index.html %>

</div></header>
    <section id="content" class="blog"> 
    <% if(category){ %> 
    <h2 class="archive-title"><%= category %></h2>
    <% } %>
    <% if(q){ %> 
      <div class="search-result-hint">
      <% if(!contents.length){ %>
          Sorry, I found nothing :(
      <% }else{ %>
          Search result for : <%= q %>
      <% } %>
      </div>
      <hr/>
    <% } %>
    <% for(var i=0; i<contents.length; i++) {%>
       <article class="post">
        <section class="entry">
          <%- contents[i] %>
        </section>
        <footer>
        <div class="clearfix"></div>
          <div class="alignleft widget">
              <span class="more"><a href="/~<%= files[i] %>"><%= files[i] %></a>
              </span>
          </div>
        <div class="clearfix"></div>          
        </footer>        
       </article>
    <% } %> 
    <% if(comment){ %>
      <%include widgets/comment/index.html %>
    <% }else{ %> 
      <nav id="pagination">
          <% if(page > 1) { %>
            <a href="<%= queryURL({pn:page-1}) %>" class="alignleft prev">Prev</a>
          <% } %>
          <% if(hasNext) { %>
            <a href="<%= queryURL({pn:page-0+1}) %>" class="alignright next">Next</a>
          <% } %>
          <div class="clearfix"></div>
      </nav>      
    <% } %>
    </section>
    <footer id="footer" class="clearfix footer"><div class="alignleft">
  
      <p class="repo-owner"><%= title %> is maintained by <a href="https://github.com/<%= user %>"><%= user %></a>.<p>
      <p>This page was generated by <a href="http://gitpress.org">Git Press</a> using the pithiness theme by <a href="http://koalais.me">Koala</a>.</p>
      <p>Powered by <a href="https://github.com/welefen/thinkjs">thinkjs</a> &amp; <a href="http://developer.github.com/v3/">Github api </a>.</p>
  
    </div>
    <div class="clearfix"></div></footer>
  </div>
  <script src="<%= resource_url %>/<%= template %>/js/main.js"></script>
</body>
</html>