<!--widget start-->
<style type="text/css">
footer ul.widget.friends li{
  display: inline-block;
  margin-right: 1em;
} 
ul.widget.friends li{
	line-height: 1.5em;
}	
@media only screen and (max-width: 767px) {
  aside ul.widget.friends li{
    display: inline-block;
    margin-right: 1em;
  }
}
</style>
<% if(friends){ %>
<ul class="widget friends">
  <% for(var i = 0; i < friends.length; i++){ %>
     <li><a href="<%= friends[i].url %>" title="<%= friends[i].title %>" target="_blank"><%= friends[i].name %></a></li>
  <% } %>
</ul>            
<% } %>
<!--widget end-->